
/* 轮播图 */
.slider{
    width: 100%;
    height: 300px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}
.displayImg> img{
     transition: opacity 20s linear;
    opacity: 1;
    width:  100%; 
    height: 300px;    
    margin: 0 auto; 
}

#images{
    position: relative;
    width: 100%;
}

#images>a{
    transition:  opacity 1s linear;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.displayImg{
    opacity: 1;
}

.hiddenImg{
 opacity: 0;
}
#images img{
    transition: opacity 20s linear;
    opacity: 1;
    width:  100%;
    height: 300px;    
    margin: 0 auto;
}
.btn{
    position: absolute;
    top:50%;
    width: 60px;
    height: 30px;
    background-color: #000;
    opacity: 0.3;
    color: #fff;
    cursor: pointer;
    text-align: center;
    line-height: 30px;
    background-position: center;
}

.rightButton{
    right:10px;
}

.leftButton{
    left:10px;
}

.txt-box{


    width: 100%;
    height:5px;
    list-style: none;
    position: absolute;    
    left: 0;
    bottom: 0;
    display: flex;
    z-index: 5;
    transition: height 0.1s linear 0s;
}

.txt-box:hover{
    height: 40px;
}

.txtItem{
    width: 12.5%;
    margin-right: 2px;
    color: #fff;
    text-align: center;    
}
.txtItem:last-child{
    margin:0;
}

.txtItem:hover,.heighlightColor{
    background-color:rgb(252, 164, 2);
}

.normalColor{
    background-color:rgba(0,0,0,0.5);
}

.container1{
    width: 48%;
    /* min-width: 1000px; */
    /* background-color: blue; */
    height: 300px;
    margin: 0px auto;
    min-width: 800px;
}

/* 掌上秒杀 */
hm_sk{ }
sk_icon{
    background: url("") no-repeat;
    background-size: 16px;
    height: 20px;
    float: left;
    margin-top: 6px;
}
.sk_name{
    color: red;
    font-size: 15px;
    float: left;
}
.sk_time{
    float: left;
    /* margin-top: 8px; */
    color: red;

}
.sk_name>span{
    float: left;
    width: 15px;
    height: 15px;
    line-height: 15px;
    text-align: center;
    background: #333;
    color: #fff;
    margin-left: 3px;
}
.hm_sk .sk_time>span:nth-child(3n)
{
background: #fff;
color: #333;
width: 5px;
}
.hm_sk .product_box_con>ul
{
width: 100%;
font-size: 12px;
padding: 10px 0;
}
.hm_sk .product_box_con>ul>li
{
width: 33.333%;
float: left;
text-align: center;
}
.hm_sk .product_box_con>ul>li>a
{
display: block;
width: 100%;
/* height: 80px; */
border-right: 1px solid #e0e0e0;
}
.hm_sk .product_box_con>ul>li:last-child>a
{
border-right: 0;
}
.hm_sk .product_box_con>ul>li>a>img
{
width: 64%;
display: block;
margin: 0 auto;
}
.hm_sk .product_box_con>ul>li>p:first-of-type
{
color: #d8505c;
padding-top: 5px;
}
.hm_sk .product_box_con>ul>li>p:last-of-type
{
text-decoration: line-through;
color: #666;
padding-top: 5px;
}